:root {
  --blue: #1e90ff;
  --blue-secondary: #6cb5ff;
  --blue-dark: #0079f1;
  --main-background: #2c3e50;
  --white-background: #eaecee;
  --yellow: yellow;
  --yellow-secondary: rgb(255, 255, 140);
  --yellow-dark: rgb(255, 208, 0);
  --transition-time: 0.4s;
  --tools-border-radius: 4px;
  --logo-nyancat-shadow-radius: 40px;
  --tools-shadow-radius: 20px;
}

header {
  background-color: var(--main-background);
  display: flex;
  flex-direction: row;
  overflow: auto;
  width: 100vw;
  min-height: 60px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
}

h4 {
  margin: 0;
  font-weight: 400;
  font-family: "Century Gothic";
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color: #ffffff;
}

select, button, a {
  font-family: "Century Gothic";
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

a {
  display: flex;
  align-items: center;
  padding: 2px 11px;
  text-decoration: none;
  color: #ffffff;
  margin: 0.5em;
  border-radius: 15px;
  background-color: #1d92ff;
  transition-duration: var(--transition-time);
}

a:hover {
  background-color: #43a4ff;
}

a:active {
  background-color: #0084ff;
}

.canvas {
  position: absolute;
  width: 100vw;
  height: 91vh;
  flex-grow: 0;
  flex-shrink: 0;
}

.tools-section {
  margin: 0.7em 0.6em 0.6em;
}

.container-git-link {
 display: flex;
 justify-content: flex-end;
 width: 100%;
 white-space: nowrap;
 margin-right: 1em;
}

.container-tools-btns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0.25em;
  height: 40px;
  background-color: var(--white-background);
  border-radius: var(--tools-border-radius);
}

.select-stroke-solid {
  margin-top: 1.3em;
  height: 30px;
  font-size: 0.8rem;
  color: #000000;
  background: #ffffff;
  border-radius: var(--tools-border-radius);
  cursor: pointer;
  border: none;
  outline: none;
  transition-duration: var(--transition-time);
}

.select-stroke-solid:hover {
  box-shadow: 0 0 var(--tools-shadow-radius) var(--blue);
}

.select-stroke-solid-option {
  color: white;
  background: var(--main-background);
}

.container-slider-width {
  position: relative;
  margin: 0.45em;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider-width {
  margin: auto;
  width: 200px;
}

.slider-width-label {
  text-align: center;
  cursor: default;
}

.logo-nyancat {
  min-height: 60px;
  width: inherit;
  margin: auto;
  z-index: 2;
  animation: 4s linear 0s infinite alternate movingNyanCatLogo;
}

/* Input type="color" */
input[type="color"] {
  -webkit-appearance: none;
  position: relative;
  border: none;
}

input[type="color"]::-webkit-color-swatch {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  box-sizing: border-box;
  border: none;
}

/* Input type="range" */
/* Chrome */
input[type="range"] {
  overflow: hidden;
  -webkit-appearance: none;
  background-color: #eaecee;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 12px;
  -webkit-appearance: none;
  color: var(--blue);
  /* margin-top: -1px; */
}
input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: -100px 0 0 100px var(--blue);
}

input[type="range"]::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 12px;
  cursor: pointer;
  background: #696969;
  box-shadow: -100px 0 0 100px var(--blue);
}

/* Firefox*/
input[type="range"]::-moz-range-progress {
  background-color: var(--white-background);
}
input[type="range"]::-moz-range-track {
  background-color: var(--blue);
}
/* Internet Explorer*/
input[type="range"]::-ms-fill-lower {
  background-color: var(--white-background);
}
input[type="range"]::-ms-fill-upper {
  background-color: var(--blue);
}

.container-color-tools {
  display: flex;
  align-content: flex-start;
}

.container-colors-palette {
  position: relative;
  margin: 0.5em;
  z-index: 1;
}

.grid-colors-palette {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-content: flex-start;
  width: 200px;
  height: 40px;
  margin: 0.15em;
}

.colors-palette-background {
  position: absolute;
  z-index: -1;
  width: 205px;
  height: 45px;
  background-color: var(--white-background);
  border-radius: var(--tools-border-radius);
}

.container-current-color {
  position: relative;
}

.current-color {
  box-sizing: border-box;
  height: inherit;
  width: inherit;
  position: absolute;
  pointer-events: none;
  z-index: 2;
  border: solid 2px var(--white-background);
  border-radius: var(--tools-border-radius);
}

.color-picker {
  height: 27px;
  width: 37px;
  margin: 0.3em;
  transition-duration: var(--transition-time);
  cursor: pointer;
}
.color-picker:hover {
  box-shadow: 0 0 var(--tools-shadow-radius) var(--blue);
}

.container-clear-save {
  display: flex;
  flex-direction: row;
}

.btn-clear {
  margin: 0.5em;
  border-radius: 15px;
  background-color: #ffffff;
  color: #000000;
}

.btn-clear:hover {
  background-color: #f1948a;
  color: #ffffff;
}

.btn-clear:active {
  background-color: #e74c3c;
  color: #ffffff;
}

.btn-rectangle {
  background: url("./images/btn-rect.png") no-repeat scroll 0 0 transparent;
}

.btn-arc {
  background: url("./images/btn-arc.png") no-repeat scroll 0 0 transparent;
  border-radius: 50%;
}

.btn-line {
  background: url("./images/btn-line.png") no-repeat scroll 0 0 transparent;
  border-radius: 3px;
}

.btn-eraser {
  background: url("./images/btn-eraser.png") no-repeat scroll 0 0 transparent;
  border-radius: 3px;
}

.btn-brush {
  background: url("./images/btn-brush.png") no-repeat scroll 0 0 transparent;
  border-radius: 3px;
}

.btn-nyanCat {
  background: url("./images/btn-nyanCat.png") no-repeat scroll 0 0 transparent;
  border-radius: 3px;
}

.btn-color-rainbow {
  background: url("./images/btn-colorRainbow.png") no-repeat scroll 0 0 transparent;
  background-size: 100% 100%;
}

.btn-color-rainbow-active {
  box-shadow: 0 0 var(--tools-shadow-radius) var(--yellow);
}

.btn-color-rainbow:hover {
  transition-duration: var(--transition-time);
  box-shadow: 0 0 var(--tools-shadow-radius) var(--yellow);
}

.btn-tools {
  margin: 0.3em;
  height: 30px;
  width: 40px;
  background-size: 100% 100%;
}

.btn-tools:hover {
  box-shadow: 0 0 var(--tools-shadow-radius) var(--blue);
  background-color: var(--blue);
}

.btn-tools:active {
  background-color: var(--blue-dark);
}

.btn-color-tools {
  margin-top: 0.8em;
  height: 35px;
  width: 45px;
  border-radius: var(--tools-border-radius);
}

.btn {
  cursor: pointer;
  border: none;
  outline: none;
  border-color: transparent;
  transition-duration: var(--transition-time);
}

.btn-colors-palette {
  border-color: transparent;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.btn-colors-palette:hover {
  border: 2px solid #00FFFF;
}

.btn-toggled {
  background-color: var(--blue-secondary);
}

.btn-nyanCat:hover {
  transition-duration: var(--transition-time);
  background-color: var(--yellow);
  box-shadow: 0 0 var(--tools-shadow-radius) var(--yellow);
}

.btn-nyanCat:active {
  background-color: var(--yellow-dark);
  box-shadow: 0 0 var(--tools-shadow-radius) var(--yellow-dark);
}

.btn-nyanCat-toggled {
  background-color: var(--yellow-secondary);
  box-shadow: 0 0 var(--tools-shadow-radius) var(--yellow-secondary);
}

@keyframes movingNyanCatLogo{
   from { margin-left: -20%; } to { margin-left: 150%}; 
}

*[disabled],
*[disabled]:hover,
*[disabled] + label {
  opacity: 0.3;
  cursor: not-allowed;
  box-shadow: none;
  border: none;
}
